<!-- Main Footer start -->
<!-- Footer bottom start -->
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-5 wow fadeInLeft">
				<ul class="footer-bottom-menu">
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-2">

				<img class="wow flipInY animated" src="assets/Logoo.png" alt="">

			</div>
			<div class="col-md-5 wow fadeInRight">
				<div class="copyright-info">
					&copy; Copyright 2014 Colors Technologies. <span>Designed &amp; developed by- <a href="#" target="_blank">COLORS</a></span>
				</div>
			</div>
		</div><!-- Row end -->
	</div><!-- Container end -->
</div><!-- Footer bottom end -->

<!-- Footer section end -->

