<!DOCTYPE html>
<html lang="en">
<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Colors Technologies</title>
	<meta name="description" content="">	
	<meta name="author" content="">

<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Favicons
	================================================== -->
	<link rel="icon" href="assets/favicon/favicon-32x32.html" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/favicon/favicon-144x144.html">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/favicon/favicon-72x72.html">
	<link rel="apple-touch-icon-precomposed" href="assets/favicon/favicon-54x54.html">


	<body>
		<div class="body-inner">
			<!-- Header start -->
			<header id="header" class="navbar-fixed-top main-nav" role="banner">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!--/ Top info start -->
							<div class="top-info">
								<ul class="pull-right">
									<li><i class="fa fa-phone"></i> Call Us: +91 9130-851-893</li>
									<li><i class="fa fa-envelope"></i> Info@colorstechnologies.com</li>
									<!-- Social links -->
									<li class="social-icon">
										<a id="tooltip1" data-toggle="tooltip" data-placement="top" title="Twitter"  href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
											<i class="fa fa-facebook"></i>
										</a>
										<a id="tooltip3" href="#" data-toggle="tooltip" data-placement="top" title="Google+">
											<i class="fa fa-google-plus"></i>
										</a>

									</li><!-- Social links end-->
								</ul>
							</div><!--/ Top info end -->

							<!-- Logo start -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<img class="img-responsive" src="assets/A LOGO1.png" alt="logo">

							</div><!--/ Logo end -->

							<nav class="collapse navbar-collapse clearfix" role="navigation">
								<ul class="nav navbar-nav navbar-right">

									<li><a href="/index" >Home</a></li>                     							
									<li><a href="/about">About</a></li>
									<li><a href="/service">Services</a></li>
									<li><a href="/portal" >Portal</a></li>                       	
									<li><a href="/product" >Product</a></li>							                       	
									<li><a href="/career">Career</a></li>
									<li><a href="/contact">Contact</a></li>
									<li class="search"><button class="fa fa-search"></button></li>
								</ul>
							</nav><!--/ Navigation end -->

							<div class="site-search">
								<div class="container">
									<input type="text" placeholder="type what you want and enter">
									<span class="close">&times;</span>
								</div>
							</div>
						</div><!--/ Col end -->
					</div><!--/ Row end -->
				</div><!--/ Container end -->
			</header><!--/ Header end -->
		</div>
	</body>
	</html>
