<div id="inner-header">
	<img src="assets/banner/banner1.jpg" alt ="" />
</div>

<!-- Subpage title start -->
<section id="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-title-content">
					<h2>About Us</h2>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- Subpage title end -->

<div class="gap-40"></div>

<!-- About page start -->
<section id="about-page">
	<div class="container">
		<!--/ about intro start -->
		<div class="row">
			<div class="col-md-6 wow slideInLeft">
				<img class="img-responsive" src="assets/about-us.jpg" alt="" />
			</div>
			<div class="col-md-6 wow slideInRight">
				<h3 class="page-content-title">Who We Are</h3>
				<p>Colors Technologies has established itself as a leading software firm specializing in the creation, 
					distribution, and installation of fully integrated Computer Software Application & IT Services that have been exclusively created 
					for facilitating the operational management in different sectors of markets.</p>
					<p>We are proud to have delivered powerful management solutions to well known businesses in Pan Maharashtra.
						Most of all, we value the lasting impact that we have created for our clients and the value we can create for your 
						business with tools that have been proven to render highly efficient operations, a greatly facilitated management process,
						increased oversight, minimized risk, and maximized profits.</p>
						<p>Colors Technologies is a team of young and talented software buffs, thoroughly dedicated to software development,
							reaching out to the clients with innovative, yet cost effective solutions to acquire better results. 
							We have won customer confidence and have provided variety of software / systems to number of small scale and 
							large scale industries. Several varied software / programs have been designed and developed by this young team
							through which the team has acquired versatility in software designing & development.</p>
							<p>Company is equipped with state-of the-art facilities and has a pool of skilled System Analysts, Domain (functional) 
								Experts and System with knowledge on all available working platforms.</p>
							</div>
						</div><!--/ about intro row end -->



						<div class="gap-40"></div>

						<div class="row wow fadeInLeft">
							<div class="col-md-12">
								<div class='text-center'>
									<h2 class="title"><span>Meet with Our Team</span></h2>
								</div>
							</div>

							<div id="team-carousel" class="owl-carousel owl-theme text-center team-carousel">
								<div class="item">
									<div class="team-wrapper">
										<div class="team-img-wrapper">
											<div class="team-img-wrapper-hover">
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a>
													<a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a>
												</div>
											</div>
											<img alt="" src="assets/team/Tushar.png" class="img-circle">
										</div>
										<div class="team-content">
											<h3 class="name">
												Tushar Shivekar
												<span>
													Executive Director
												</span>
											</h3>

										</div>
									</div><!--/ Team wrapper end -->
								</div><!--/ Item 1 end -->
								<div class="item">
									<div class="team-wrapper">
										<div class="team-img-wrapper">
											<div class="team-img-wrapper-hover">
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a>
													<a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a>
												</div>
											</div>
											<img alt="" src="assets/team/Pradeep.png" class="img-circle">
										</div>
										<div class="team-content">
											<h3 class="name">
												Pradeep Yadav
												<span>
													Project Manager
												</span>
											</h3>

										</div>
									</div><!--/ Team wrapper end -->
								</div><!--/ Item 2 end -->
								<div class="item">
									<div class="team-wrapper">
										<div class="team-img-wrapper">
											<div class="team-img-wrapper-hover">
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a>
													<a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a>
												</div>
											</div>
											<img alt="" src="assets/team/Nitin.png" class="img-circle">
										</div>
										<div class="team-content">
											<h3 class="name">
												Nitin Karale
												<span>
													Sales Manager
												</span>
											</h3>

										</div>
									</div><!--/ Team wrapper end -->
								</div><!--/ Item 3 end -->
								<div class="item">
									<div class="team-wrapper">
										<div class="team-img-wrapper">
											<div class="team-img-wrapper-hover">
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a>
													<a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a>
												</div>
											</div>
											<img alt="" src="assets/team/ge.png" class="img-circle">
										</div>
										<div class="team-content">
											<h3 class="name">
												Geetanjali Bhosale
												<span>
													People Function Head
												</span>
											</h3>

										</div>
									</div><!--/ Team wrapper end -->
								</div><!--/ Item 4 end -->



							</div><!--/ Team wrapper end -->
						</div><!--/ Item 5 end -->
					</div>
				</div><!--/ Team row end -->
			</div><!--/ container end -->
		</section><!-- About page end -->


		<!-- Clients start -->
		<section id="clients">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn">
						<div class='text-center'>
							<h2 class="title"><span>Clients</span></h2>
						</div>
					</div>
				</div>
				<div class="row wow fadeInUp">
					<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client1.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client2.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client3.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client4.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client5.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client6.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client7.png" alt="client">
							</a>
						</figure>
						<figure class="item client_logo">
							<a href="#">
								<img src="assets/clients/client8.png" alt="client">
							</a>
						</figure>
					</div><!-- Owl carousel end -->
				</div><!-- Main row end -->
			</div><!-- Main container end -->
		</section><!-- Clients end -->
