
<div id="inner-header">
	<img src="assets/banner/banner4.jpg" alt ="" />
</div>

<!-- Subpage title start -->
<section id="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-title-content">
					<h2>Career</h2>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Subpage title end -->





<!-- Price page start -->
<section id="price-page">
	<div class="container">

		<div class="row"><!-- Pricing table 4 column start -->
			<div class="col-md-12">
			</br>
			<h3><p> Colors Technologies is a team of young and talented software buffs. Make your future bright with colors</p>
				<p> </p></h3>
				<div class='text-center'>
					<h2 class="title"><span>Posts</span></h2>
				</div>
			</div>
			<!-- plan start -->
			<div class="col-md-3 wow fadeInUp" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">IT</span>

					<ul class="list-unstyled">
						<li>Jr. Software Developer</li>
						<li>Sr. Software Developer</li>
						<li>Sales Expert</li>

					</ul>

				</div>
			</div><!-- plan end -->

			<!-- plan start -->
			<div class="col-md-3 wow fadeInUp" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">BPO</span>

					<ul class="list-unstyled">
						<li>Voice Process</li>
						<li>Non-Voice Process</li>

					</ul>

				</div>
			</div><!-- plan end -->

			<!-- plan start -->
			<div class="col-md-3 wow fadeInUp" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">KPO</span>

					<ul class="list-unstyled">
						<li>Associate</li>
						<li>Team Leader</li>



					</ul>

				</div>
			</div><!-- plan end -->

			<!-- plan start -->
			<div class="col-md-3 wow fadeInUp" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">Marketing</span>

					<ul class="list-unstyled">
						<li>Sale Executive</li>
						<li>Sale Consultant</li>
						<li>Team Leader</li>
					</ul>

				</div>
			</div><!-- plan end -->
		</div><!--/ Pricing table 4 column end -->

		<div class="gap-40"></div>

		<div class="row"><!-- Pricing table 3 column start -->
			<div class="col-md-12">
				<div class='text-center'>
					<h2 class="title"><span>Current Requirement</span></h2>
				</div>
			</div>
			<!-- plan start -->
			<div class="col-md-4 wow fadeIn" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">IT</span>

					<ul class="list-unstyled">
						<li>Post : Jr. Software Developer</li>
						<li>Location : Pune</li>

					</ul>
					<a class="btn btn-primary" href="#.">Apply</a>
				</div>
			</div><!-- plan end -->

			<!-- plan start -->
			<div class="col-md-4 wow fadeIn" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">BPO</span>

					<ul class="list-unstyled">
						<li>Post : Tele Caller(Voice Process)</li>
						<li>Post : Associate(Non-Voice Process)</li>
						<li>Location : Pune</li>

					</ul>
					<a class="btn btn-primary" href="#.">Apply</a>
				</div>
			</div><!-- plan end -->

			<!-- plan start -->
			<div class="col-md-4 wow fadeIn" data-delay="200">
				<div class="plan text-center">
					<span class="plan-name">Marketing</span>

					<ul class="list-unstyled">
						<li>Post : Sales Executive</li>
						<li>Location : Pune</li>

					</ul>
					<a class="btn btn-primary" href="#.">Apply</a>
				</div>
			</div><!-- plan end -->
		</div><!--/ Pricing table 3 column end -->
	</div><!--/ container end -->
</section><!-- Pricing page end -->

<!-- Clients start -->
<section id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounceIn">
				<div class='text-center'>
					<h2 class="title"><span>Clients</span></h2>
				</div>
			</div>
		</div>
		<div class="row wow fadeInUp">
			<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client1.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client2.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client3.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client4.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client5.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client6.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client7.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client8.png" alt="client">
					</a>
				</figure>
			</div><!-- Owl carousel end -->
		</div><!-- Main row end -->
	</div><!-- Main container end -->
</section><!-- Clients end -->
