<!-- Slider start -->
<section id="home">	
	<!-- Carousel -->
	<div id="main-slide" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#main-slide" data-slide-to="0" class="active"></li>
			<li data-target="#main-slide" data-slide-to="1"></li>
			<li data-target="#main-slide" data-slide-to="2"></li>
		</ol><!--/ Indicators end-->

		<!-- Carousel inner -->
		<div class="carousel-inner">
			<div class="item active">
				<img class="img-responsive" src="assets/slider/bg1.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated2">
							<span>  Welcome to <strong>Colors</strong></span>
						</h2>
						<h3 class="animated3">
							<span>Your Search For Best IT Service End Here</span>
						</h3>

					</div>
				</div>
			</div><!--/ Carousel item end -->
			<div class="item">
				<img class="img-responsive" src="assets/slider/bg2.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated4">
							<span><strong>Colors</strong> for the highest</span>
						</h2>
						<h3 class="animated5">
							<span>We Are The Part Of The Many Success Stories</span>
						</h3>		

					</div>
				</div>
			</div><!--/ Carousel item end -->
			<div class="item">
				<img class="img-responsive" src="assets/slider/bg3.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated7">
							<span>The way of <strong>Success</strong></span>
						</h2>
						<h3 class="animated8">
							<span>One Stop It Solution for your Business</span>
						</h3>		
						<div class="">

						</div>     
					</div>
				</div>
			</div><!--/ Carousel item end -->
		</div><!-- Carousel inner end-->

		<!-- Controls -->
		<a class="left carousel-control" href="#main-slide" data-slide="prev">
			<span><i class="fa fa-angle-left"></i></span>
		</a>
		<a class="right carousel-control" href="#main-slide" data-slide="next">
			<span><i class="fa fa-angle-right"></i></span>
		</a>
	</div><!-- /carousel -->    	
</section>
<!--/ Slider end -->






<!-- Features start -->
<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 wow fadeInLeft">
				<div class="feature-image">
					<img class="img-responsive" src="assets/LOGO BACKGROUND.jpg" alt="feature img" title="" />
				</div>
			</div>

			<div class="col-sm-6 wow fadeInRight">
				<div class="feature-wrapper">
					<div class="feature-content-wrapper">
						<h2>Why us</h2>


						<div class="feature-box clearfix">
							<div class="feature-icon pull-left">
								<i class="fa fa-mobile-phone"></i>
							</div>
							<div class="feature-box-content">
								<h3>100% Responsible</h3>
								<p>On the other hand, We are more responsible with our employee who are so much assured the moment.</p>
							</div>
						</div>
						<div class="feature-box clearfix">
							<div class="feature-icon pull-left">
								<i class="fa fa-umbrella"></i>
							</div>
							<div class="feature-box-content">
								<h3>Clean Coding and Work</h3>
								<p>We are the best because of our work,commitment and quality.</p>
							</div>
						</div>
						<div class="feature-box clearfix">
							<div class="feature-icon pull-left">
								<i class="fa fa-flask"></i>
							</div>
							<div class="feature-box-content">
								<h3>Easy Customization</h3>
								<p>We think about our product and business requirement standard. We assure you that we make something good..</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Features right side end -->
		</div><!-- Row end -->
	</div><!-- Container end -->
</section> <!-- Features end -->

<!-- Portfolio start -->
<section id="portfolio">
	<div class="container">
		<div class="row wow bounceIn">
			<div class="col-md-12">
				<div class='text-center'>
					<h2 class="title"><span>Recent Portfolio</span></h2>
				</div>
			</div>
		</div><!--/ Title row end -->
		<div class='row wow fadeInUp'>
			<div class='col-lg-12'>
				<div class="carousel slide" id="portfolio-carousel">
					<div class="carousel-inner">
						<div class="item  active">
							<div class="row">
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Transparency</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio1.jpg" alt="portfolio">
									</div>
								</div>          
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Apriseatiansy</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio2.jpg" alt="portfolio">
									</div>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>High Scope</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio3.jpg" alt="portfolio">
									</div>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Work Freedom</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio4.jpg" alt="portfolio">
									</div>
								</div>
							</div>
						</div><!--/ Item active end -->
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Enjoy</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio5.jpg" alt="portfolio">
									</div>
								</div>          
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Work Satisfaction</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio6.jpg" alt="portfolio">
									</div>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Glamours</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio7.jpg" alt="portfolio">
									</div>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-3">   
									<div class="thumbnail">
										<div class="caption">
											<div class="caption-content">

												<h3>Out space</h3>

											</div>
										</div>
										<img src="assets/portfolio/portfolio8.jpg" alt="portfolio">
									</div>
								</div>
							</div>
						</div><!--/ Item end -->
					</div><!-- Carousel inner end -->

					<div class="dart-carousel-controller">
						<a data-slide="prev" href="#portfolio-carousel" class="left"><i class="fa fa-chevron-left"></i></a>
						<a data-slide="next" href="#portfolio-carousel" class="right"><i class="fa fa-chevron-right"></i></a>
					</div><!-- Controller end -->

				</div><!-- Carousel end -->                          
			</div><!-- Main Col end -->
		</div><!--/ Main row end -->
	</div><!--/ Container end -->
</section><!-- Portfolio end -->






<!-- Testimonial start-->
<section id="testimonial" class="wow fadeInUp animated">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class='text-center'>
					<h2 class="title"><span>Customers Feedback</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
				<div class="item">
					<div class="testimonial-thumb">
						<img class="img-circle" src="assets/team/SantoshKarandeFinal.png" alt="testimonial">
					</div>
					<div class="testimonial-content">
						<h3 class="name">Santosh Karande<span>Executive Director : Photo Factory</span></h3>
						<p class="testimonial-text">
							It is nice experience to work with Colors Technologies
						</p>
					</div>
				</div>


			</div>
			<!-- Navigation start -->
			<div class="customNavigation dart-carousel-controller">
				<a class="prev left">
					<i class="fa fa-chevron-left"></i>
				</a>
				<a class="next right">
					<i class="fa fa-chevron-right"></i>
				</a>
			</div><!--/ Navigation end -->
		</div><!--/ Main row end-->
	</div><!--/ Main container end-->
</section><!-- Testimonial end-->


<!-- Clients start -->
<section id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class='text-center'>
					<h2 class="title"><span>Clients</span></h2>
				</div>
			</div>
		</div>
		<div class="row wow fadeInLeft">
			<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client1.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client2.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client3.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client4.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client5.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client6.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client7.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client8.png" alt="client">
					</a>
				</figure>
			</div><!-- Owl carousel end -->
		</div><!-- Main row end -->
	</div><!-- Main container end -->
</section><!-- Clients end -->

