<div id="inner-header">
	<img src="assets/banner/banner4.jpg" alt ="" />
</div>

<!-- Subpage title start -->
<section id="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-title-content">
					<h2>Portal</h2>
					<ul class="breadcrumb">

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Subpage title end -->
<html>
<head>
<script type="text/javascript">
<!--
function getValue(){
   var retVal = prompt("Enter your Emailid : ", "your Email ID here");
   var retVal1=prompt("Enter your Password : ", "your Password here");
   alert("Please Enter Your Employee ID");
}
//-->
</script>
</head>
<body>
<p>Click the following button to see the result: </p>
<form>
<input type="button" value="Click Me" class="btn btn-primary" onclick="getValue();" />
</form>
</body>
</html>

<div class="gap-40"></div>


<!-- faq page start -->

<div class="container">
	<div class="row">
		<!-- faq start -->
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<h3 class="widget-title">
				Frequently Asked Questions
			</h3>


		</div><!-- Toggle start -->
	</div><!-- faq col end -->

	<!-- sidebar start -->
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-md-12">
				<h3 class="widget-title">
					Ask A Question
				</h3>
				<p class="faq-form-text">Couldn't find an answer to your question?<br>
					No problem, just ask it here and we'll get back to your soon.
				</p>
			</div>
		</div>
		<div class="faq-form">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control" name="firstname" placeholder="Name" type="text" required />
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control" name="email" placeholder="E-mail" type="text" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group">
						<input class="form-control" name="subject" placeholder="Subject" type="text" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group">
						<textarea class="form-control" placeholder="Message..." rows="5" name="comment" required></textarea>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-left">
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</div>

		</div>

	</div><!-- sidebar end -->
</div><!--/ row end -->
</div><!--/ container end -->
</section>
<!-- Faq page end -->
