<div id="inner-header">
	<img src="assets/banner/banner3.jpg" alt ="" />
</div>

<!-- Subpage title start -->
<section id="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-title-content">
					<h2>Our Product</h2>
					<ul class="breadcrumb">


					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Subpage title end -->

<div class="gap-40"></div>

<!-- Team page start -->
<section id="Team-page">
	<div class="container">
		<div class="row">
			<div id="team-carousel" class="owl-carousel owl-theme team-carousel team-page">
				<div class="item">
					<div class="page-team-wrapper">

						<div class="team-content">
							<h3 class="name">
								Our Product </br></br>
								<span>
									<p>Studio Software</p>
									<p>Retail Software</p>
									<p>General Billing Software</p>
									<p>Garment Software</p>
									<p>Fitness Software</p>
									<p>Jwelles Software</p>
									<p>Clinic Software</p>
									<p>Payroll Software</p>
									<p>Education Software</p>
									<p>Election Software</p>
									<p>Tailoring Software</p>
									<p>Meny more Software</p>
								</span>
							</h3>

						</div>
					</div><!--/ Team wrapper end -->
				</div><!--/ Item 1 end -->
				<div class="item">
					<div class="page-team-wrapper">

						<div class="team-content">
							<h3 class="name">
								Website Makers </br></br>
								<span>
									<p>Static Website</p>
									<p>Dynamic Website</p>
								</span>
							</h3>

						</div>
					</div><!--/ Team wrapper end -->
				</div><!--/ Item 2 end -->
				<div class="item">
					<div class="page-team-wrapper">

						<div class="team-content">
							<h3 class="name">
								Marketing </br></br>
								<span>
									<p>Sale Training</p>
									<p>Marketing Training</p>
									<p>I.B.Training And Documentation</p>
								</span>
							</h3>

						</div>
					</div><!--/ Team wrapper end -->
				</div><!--/ Item 3 end -->
				<div class="item">
					<div class="page-team-wrapper">

						<div class="team-content">
							<h3 class="name">
								Spacial Product </br></br>
								<span>
									<p>Election Management Software</p>
									<p>Grampanchayat Software</p>
									<p>Educational Software</p>

								</span>
							</h3>

						</div>
					</div><!--/ Team wrapper end -->
				</div><!--/ Item 4 end -->



			</div><!--/ Team wrapper end -->
		</div><!--/ Item 5 end -->
	</div>
</div><!--/ Team row end -->
</div><!--/ container end -->
</section><!-- Team page end -->

<!-- Clients start -->
<section id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounceIn">
				<div class='text-center'>
					<h2 class="title"><span>Clients</span></h2>
				</div>
			</div>
		</div>
		<div class="row wow fadeInUp">
			<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client1.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client2.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client3.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client4.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client5.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client6.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client7.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client8.png" alt="client">
					</a>
				</figure>
			</div><!-- Owl carousel end -->
		</div><!-- Main row end -->
	</div><!-- Main container end -->
</section><!-- Clients end -->
