<div id="inner-header">
	<img src="assets/banner/banner2.jpg" alt ="" />
</div>

<!-- Subpage title start -->
<section id="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-title-content">
					<h2>Services</h2>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Subpage title end -->

<div class="gap-40"></div>

<!-- Service page start -->
<section id="service-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow slideInLeft">
				<img class="img-responsive" src="assets/service.jpg" alt="" />
			</div>
			<div class="col-md-6 wow slideInRight">
				<h3 class="page-content-title">What We Do</h3>

				<ul class="circle">
					<li>We aim to offer you flexibility and streamline Software & services. Our goal is to help you achieve tangible benefits in the areas of
						cost savings as well as increase service level performances.
					</li>
					<li>We are proud to be a part of your great success. 
					</li>
					<li>We take great pleasure in proposing our Software & services to your company. </li>
					<li>[Q.R.T.S] Quick Responsive Tech Support </li>
					<li>Flexible and Responsive training for every product </li>
				</ul>
			</div>
		</div><!--/ service intro row end -->


		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h2 class="title"><span>Exclusive Services</span></h2>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-legal"></i></span></a>
					<div class="service-box-content">
						<h3>Information Technologie</h3>
						<p>We are</p>
						<p>1. Website Makers</p>
						<p>2. Software Makers</p>
						<p>3. Testing Specialist</p>
						<p>4. Networking Expert</p>
					</div>
				</div>
			</div><!--/ End first service -->
			<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-rocket"></i></span></a>
					<div class="service-box-content">
						<h3>Marketing</h3>
						<p>We are</p>
						<p>1. Marketing Expert</p>
						<p>2. Advertising Media Expert</p>
						<p>3. Sales Specialist</p>
						<p>4. Business Development Guiders</p>
					</div>
				</div>
			</div><!--/ End 2nd service -->
			<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-briefcase"></i></span></a>
					<div class="service-box-content">
						<h3>KPO</h3>
						<p>We Work For</p>
						<p>1. Bank Domain</p>
						<p>2. Bank Database Work</p>
						<p>3. Domain Special</p>
					</div>
				</div>
			</div><!--/ End 3rd service -->
		</div><!--/ service box row end -->

		<div class="gap-20"></div>

		<div class="row">
			<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-desktop"></i></span></a>
					<div class="service-box-content">
						<h3>BPO</h3>
						<p>We Hold</p>
						<p>1. Voice Process</p>
						<p>2. Data Operators</p>
						<p>3. Back-end Storage</p>
					</div>
				</div>
			</div><!--/ End first service -->
			<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-html5"></i></span></a>
					<div class="service-box-content">
						<h3>Tech Support</h3>
						<p>1. Colors Technologies provides extensive Training to users to get up to speed in the shortest possible time.</p>
						<p>2. Colors Technologies proven and tested Training Methodology helps you in understanding the numerous features in Colors Technologies Product.</p>
						<p>3. At the start of the implementation Colors Technologies charts out the Training Map and by the end of Implementation users gain valuable expertise of the usage of the software. </p>
						<p>4. It is not a time consuming for tech-support & Quick Responsive.</p>
					</div>
				</div>
			</div><!--/ End 2nd service -->
			<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
				<div class="service-box">
					<a href="#"><span class="service-icon pull-left"><i class="fa fa-wrench"></i></span></a>
					<div class="service-box-content">
						<h3>Customization Service</h3>
						<p>Customer will get customization service as per requirement, Within the Applications Framework. </p>
					</div>
				</div>
			</div><!--/ End 3rd service -->
		</div><!--/ service box row end -->
	</div><!--/ container end -->
</section><!-- Service page end -->



<!-- Clients start -->
<section id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounceIn">
				<div class='text-center'>
					<h2 class="title"><span>Clients</span></h2>
				</div>
			</div>
		</div>
		<div class="row wow fadeInUp">
			<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client1.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client2.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client3.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client4.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client5.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client6.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client7.png" alt="client">
					</a>
				</figure>
				<figure class="item client_logo">
					<a href="#">
						<img src="assets/clients/client8.png" alt="client">
					</a>
				</figure>
			</div><!-- Owl carousel end -->
		</div><!-- Main row end -->
	</div><!-- Main container end -->
</section><!-- Clients end -->
