<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<div>
 <img src="../assets/A LOGO1.png" alt="" height="70px" width="244px"></div>
<p>
Hello <h3>Mr/Mrs<%= @contact.name%></h3>
We got your message and will get back to you shortly.
In the meantime, feel free to join our community !
  This  is an feedback mail from Colors Technologies ,thanks for showing a intrest on US  .we are help you on your ideas .
we will contact you soon!!
<p>
thanks again for showing intrest with our Company<br>
<b>
Contactus:(+91) 9130-851-893<br>
		  Info@colorstechnologies.com

Warm Regards<br></b>
<b>Colors Technologies</b>
</p>
</p>
</body>
</html>
